html, body {
    /* ustawienie tła*/

    background-color: #fff;

}


.bg {
    /* ustawienie tła*/
    background: url("../images/bg-1.jpg") no-repeat bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    height: 100vh;
    margin: 0;
}

.bg-blur {
    /* ustawienie tła*/
    background: url("../images/bg1b.jpg") no-repeat bottom fixed;
}

.full-height {
    height: 70vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    color: black;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.icon {
    height: 2em;
}

.top-left {
    position: absolute;
    left: 10px;
    top: 18px;
}

.cards {
    background-color: rgba(254, 254, 254, 0.8);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}

.cards2 {
    background-color: rgba(254, 254, 254, 0.9);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}

.cards-header {
    font-size: 1.3em;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    float: inside;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.max-width {
    max-width: 600px;
}



.btn-primary {
    color: #fff;
    background-color: #4a73b0;
    border-color: #4a73b0;
}

.btn-primary:hover {
    color: #fff;
    background-color: #227dc7;
    border-color: #2176bd;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #546990;
    border-color: #546990;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #546990;
    border-color: #546990;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}



.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    text-align: right;
    float: left;
    min-width: 15rem;
    padding: 1rem 1rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.77);
    border: 0px;
    border-radius: 0.25rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: rgba(74, 115, 176, 0.08);
}

.bg-white{
    background: white;
}

.border-bottom-2 {
    border-bottom: 2px solid rgba(109, 111, 113, 0.45) !important;
}
 .main-section{
     margin: 0 auto;
     padding: 20px;
     margin-top: 50px;
     background-color: #fff;
     box-shadow: 0px 0px 20px #c1c1c1;
 }

 .image{
     max-height: 15em;
 }

 .square-image{
     width: 100%;
 }

.square-image-big{
    width: 100%;
}